@page "/"
@using System.Net.Http.Json
@using GabrielButterfly.Core;
@using GabrielButterfly.Core.Entities;
@using GabrielButterfly.Core.Interfaces;
@using GabrielButterFly.API.Controllers;
@inject IAddition addition
@inject HttpClient httpClient



<PageTitle>Index</PageTitle>


<EditForm Model="@result">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Number</th>
                <th></th>
                <th>Second Number</th>
                <th>Resutl</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*<td><input id="num1" /></td>*@
                <td><InputNumber @bind-Value="num1" class="form-control"></InputNumber></td>
                <th>+</th>
                <td><InputNumber @bind-Value="num2" class="form-control"></InputNumber></td>
                <td></td>
                <td><InputNumber @bind-Value="total" class="form-control"></InputNumber></td>
                @*<td><input /></td>*@
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resultModal" @onclick="divison">Accept</button>
                </td>
            </tr>
            <tr>
                <td><input type="number" id="num1" /></td>
                <th>-</th>
                <td><input type="number" id="num2" /></td>
               
               @* <td><InputNumber @bind-Value="result.resutl" placeholder="" class="form-control"></InputNumber></td>*@
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="divison">Accept</button>
                </td>
            </tr>
            <tr>
                <td><input /></td>
                <th>x</th>
                <td><input /></td>
                <td><InputNumber @bind-Value="result.resutl" placeholder="" class="form-control"></InputNumber></td>
                <td>
                    <button type="button" class="btn btn-primary">Accept</button>
                </td>
            </tr>
            <tr>
                <td><input /></td>
                <th>÷</th>
                <td><input /></td>
                <td><InputNumber @bind-Value="result.resutl" placeholder="" class="form-control"></InputNumber></td>
                <td>
                    <button type="button" class="btn btn-primary">Accept</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h1 class="modal-title fs-5" id="resultModal">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <InputNumber @bind-Value="total" class="form-control"></InputNumber>
            </div>
            
        </div>
    </div>
</div>

</EditForm>

<!-- Modal -->

@code {
    private Result result = new Result();
    int num1;
    int num2;
    int total;

    private async Task divison()
    {
        result = await addition.Addition(num1, num2);
        total = result.resutl;

    }

    //protected override async Task OnInitializedAsync()
    //{
    //    result = await httpClient.GetFromJsonAsync<Result>($"https://localhost:7235/GabrielButterFly/Addition?num1={num1}&num2={num2}");
    //}
}


