@page "/"

@using GabrielButterfly.Core;
@using GabrielButterfly.Core.Entities;
@using GabrielButterfly.Core.Interfaces;

@inject IAddition additionService
@inject ISubtraction subtractionService
@inject IMultiplication multiplicationService
@inject IDivision divisionService




<PageTitle>Index</PageTitle>


<EditForm Model="@result">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Number</th>
                <th>Operation</th>
                <th>Second Number</th>
                <th>Resutl</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>                
                <td><InputNumber @bind-Value="num1" class="form-control"></InputNumber></td>
                <th>+</th>
                <td><InputNumber @bind-Value="num2" class="form-control"></InputNumber></td>                
                <td><InputNumber @bind-Value="result.resultAdd" class="form-control"></InputNumber></td>
                
                <td>
                    <button type="button" class="btn btn-primary" @onclick="addition">Accept</button>
                </td>
            </tr>
            <tr>
                <td><InputNumber @bind-Value="num3" class="form-control"></InputNumber></td>
                <th>-</th>
                <td><InputNumber @bind-Value="num4" class="form-control"></InputNumber></td>
                <td><InputNumber @bind-Value="result.resultSub" class="form-control"></InputNumber></td>

                <td>
                    <button type="button" class="btn btn-primary" @onclick="subtraction">Accept</button>
                </td>
            </tr>
            <tr>
                <td><InputNumber @bind-Value="num5" class="form-control"></InputNumber></td>
                <th>x</th>
                <td><InputNumber @bind-Value="num6" class="form-control"></InputNumber></td>
                <td><InputNumber @bind-Value="result.resultMul" class="form-control"></InputNumber></td>

                <td>
                    <button type="button" class="btn btn-primary" @onclick="multiplication">Accept</button>
                </td>
            </tr>
            <tr>
                <td><InputNumber @bind-Value="num7" class="form-control"></InputNumber></td>
                <th>÷</th>
                <td><InputNumber @bind-Value="num8" class="form-control"></InputNumber></td>
                <td><InputNumber @bind-Value="result.resultDiv" class="form-control"></InputNumber></td>

                <td>
                    <button type="button" class="btn btn-primary" @onclick="divison">Accept</button>
                </td>
            </tr>
        </tbody>
    </table>


</EditForm>

<!-- Modal -->

@code {

    private Result result = new Result();

    int num1,num3,num5,num7;
    int num2,num4,num6,num8;

    //private async Task addition()
    //{
    //    result = await additionService.Addition(num1, num2);
        
    //}

    private async Task addition()
    {
        result = await additionService.Addition(num1, num2);
    }
    private async Task subtraction()
    {
        result = await subtractionService.Subtraction(num3, num4);
    }

     private async Task multiplication()
    {
        result = await multiplicationService.Multiplication(num5, num6);
    }

    private async Task divison()
    {
        result = await divisionService.Division(num7, num8);
    }

}


